<!DOCTYPE html>
{% extends 'whichsandwich/base.html' %}
{% load staticfiles %}

{% block title_block %}
Browse
{% endblock %}

{% block body_block %}

<div>
  {% if sandwiches %}
  <ul>
    {% for sandwich in sandwiches %}
    <li><a href="{% url 'show_sandwich' sandwich.slug %}">{{ sandwich.name }}</a></li>
    <li>{{ sandwich.image }}</li>
    <li>Created by {{ sandwich.creator }}</li>
    <li>{{ sandwich.likes }} likes</li>
    <li>{{ sandwich.dislikes }} dislikes</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>There are no sandwiches.</p><br>
  {% endif %}
</div>

{% endblock %}
