<!DOCTYPE html>
{% extends 'whichsandwich/create_sandwich.html' %}
{% load staticfiles %}

{% block title_block %}
	Create Sandwich
{% endblock %}

{% block body_block %}
	<h2>Create a Sandwich</h2>
	<div>
    {% if ingredients % }
	<h3>Choose your ingredients</h3>
	<ul>
		{% for ingredient in ingredients %}
		<li>{{ ingredient.name }}</li>
		<li>{{ ingredient.name }} calories</li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are no available ingredients</strong><br>
	{% endif %}
    </div>
{% endblock %}	