<!DOCTYPE html>
{% extends 'whichsandwich/base.html' %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}

<div>
  {% if sandwich_of_the_day %}
  <h2>Sandwich of the day</h2>
  <ul>
    <li><a href="{% url 'show_sandwich' sandwich_of_the_day.url %}">{{ sandwich_of_the_day.title }}</a></li>
    <li>{{ sandwich_of_the_day.image }}</li>
    <li>Created by {{ sandwich_of_the_day.creator }}</li>
    {% if sandwich.likes == 1 %}
		<li>{{ sandwich.likes }} Like</li>
	{% else %}
		<li>{{ sandwich.likes }} Likes</li>
	{% endif %}
	{% if sandwich.dislikes == 1 %}
		<li>{{ sandwich.dislikes }} Dislike</li>
	{% else %}
		<li>{{ sandwich.dislikes }} Dislikes</li>
	{% endif %}
  </ul>
  {% else %}
  <strong>There is no sandwich of the day.</strong>
  {% endif %}
</div>

<div>
  {% if top_sandwiches %}
  <h2>Top Sandwiches</h2>
  <ul>
    {% for sandwich in top_sandwiches %}
    <li>
      <a href="{% url 'show_sandwich' sandwich.slug %}">{{ sandwich.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <strong>There are no sandwiches present.</strong>
  {% endif %}
</div>

{% endblock %}
