<!DOCTYPE html>
{% extends 'whichsandwich/base.html' %}
{% load staticfiles %}

{% block title_block %}
My Account
{% endblock %}

{% block body_block %}

<div>
  {% if best_sandwiches %}
  <h2>My Best Received Sandwiches</h2>
  <ul>
    {% for sandwich in best_sandwiches %}
    <li><a href="{% url 'show_sandwich' sandwich.slug %}">{{ sandwich.name }}</a></li>
	{% if sandwich.likes == 1 %}
		<li>{{ sandwich.likes }} Like</li>
	{% else %}
		<li>{{ sandwich.likes }} Likes</li>
	{% endif %}
	{% if sandwich.dislikes == 1 %}
		<li>{{ sandwich.dislikes }} Dislike</li>
	{% else %}
		<li>{{ sandwich.dislikes }} Dislikes</li>
	{% endif %}
	{% endfor %}
  </ul>
  {% else %}
  <strong>You have no rated sandwiches.</strong>
  {% endif %}
</div>

<div>
  {% if top_favourites %}
  <h2>My Top Five Favourites</h2>
  <ul>
    {% for sandwich in top_favourites %}
    <li><a href="{% url 'create_sandwich' sandwich.url %}">{{ sandwich.title }}</a></li>
    <li>{{ sandwich.image }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <strong>You have no favourites.</strong>
  {% endif %}
</div>

{% endblock %}
