<!DOCTYPE html>
{% extends 'whichsandwich/base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Favourites
{% endblock %}

{% block body_block %}

	<div>
    {% if my_favourites %}
	<h2>My Favourites</h2>
	<ul>
		{% for sandwich in my_favourites %}
		<li><a href="{% 'show_sandwich' sandwich.url %}">{{ sandwich.title }}</a></li>
		<li>{{ sandwich.image }}</li>
		<li>Created by {{ sandwich.creator }}</li>
		<li>{{ sandwich.likes }} likes</li>
		<li>{{ sandwich.dislikes }} dislikes</li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>You have no favourites.</strong><br>
	{% endif %}
    </div>
		
{% endblock %}
