{% extends 'whichsandwich/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ sandwich.name }}
{% endblock %}

{% block body_block %}
<div>
  {% if sandwich %}
  <h1>{{ sandwich.name }}</h1>
  <ul>
    {% if sandwich.image %}
    <img src="{{ sandwich.image.url }}" alt="" />
    {% endif %}
    <li>Created by {{ sandwich.creator }}</li>
    {% if sandwich.likes == 1 %}
    <li>{{ sandwich.likes }} Like</li>
    {% else %}
    <li>{{ sandwich.likes }} Likes</li>
    {% endif %}
    {% if sandwich.dislikes == 1 %}
    <li>{{ sandwich.dislikes }} Dislike</li>
    {% else %}
    <li>{{ sandwich.dislikes }} Dislikes</li>
    {% endif %}
  </ul>		
  <button class="like"><img src="{% static "images\like.png" %}" alt="Like" /></button>
  <button class="dislike"><img src="{% static "images\dislike.png" %}" alt="Dislike" /></button>
  {% if user.is_authenticated %}
  <button class="favourite"><img src="{% static "images\favourite.png" %}" alt="Favourite" /></button>
  {% endif %}

  <div>
    <form id="comment_form" method="post" action="{% url 'show_sandwich' sandwich.slug %}">
      <h3>Comment on this sandwich</h3>
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }} 
      {% endfor %}
      {% for field in form.visible_fields %}
      {{ field.errors }}
      {{ field.help_text }}
      {{ field }}
      {% endfor %}
      <button type="submit" name="submit">Submit</button>
    </form>
  </div>

  <div>
    {% if comments %}
    <ul>
      {% for comment in comments %}
      <li>Submitted by {{ comment.user }}</li>
      <li>{{ comment.comment }}</li>
      <br/>
      {% endfor %}	
    </ul>
    {% else %}
    There are no comments on this sandwich!
    {% endif %}
  </div>

  {% else %}
  The specified sandwich does not exist!
	{% if user.is_authenticated %}
	<p>Why not <a href ="{% url 'create_sandwich' %}">create</a> it?</p>
	{% endif %}
  {% endif %}
</div>

{% endblock %}
