body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.ingredients-container {
  overflow: auto;
  height: 300px;
}

.hidden {
  display: none;
}

#available-ingredients, #used-ingredients {
  height: 100%;
}
